/*index.html - Recipes */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


div{
    width: auto;
    border: 5px solid red;
    padding: 50px;
    margin: 20px;
    background-color: rgb(63, 163, 191);
}

h1{
    color: white;
    font-size: 42px;
    text-align: center;
    text-decoration: underline;
}

h2{
    color: white;
    text-align: center;
}

h3{
    color: white;
    text-align: center;
}

ul .liprimary::before{
    content:"☛";
    color: white;
    display: inline-block;
    width: 1em;
    margin-left: -2em;
}

ul li::before{
    content:"•";
    color: white;
    display: inline-block;
    width: 1em;
    margin-left: -2em;
}

ul{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}
