/*index.html - Recipes */
*{
    font-family: Verdana, Arial, sans-serif;
    box-sizing: border-box;
    border: 1px solid red
}

div{
    width: auto;
    border: 5px solid red;
    padding: 50px;
    margin: 20px;
    background-color: rgb(63, 163, 191);
}

h1{
    color: white;
    font-size: 42px;
    text-align: center;
    text-decoration: underline;
}

h2{
    color: white;
    text-align: center;
}

h3{
    color: white;
    text-align: center;
}

ul{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
    display: block;
}

li{
    display: block;
    margin:10px;
    text-align: center;
}
